<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.smartlight.usermanager.persistence.SysNodeMapper" >
  <resultMap id="BaseResultMap" type="org.smartlight.usermanager.model.SysNode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="target" property="target" jdbcType="VARCHAR" />
    <result column="rel" property="rel" jdbcType="VARCHAR" />
    <result column="granted" property="granted" jdbcType="INTEGER" />
  </resultMap>
  <select id="selectByUserId" resultMap="BaseResultMap" >
    select 
    a.id,a.level, a.name, a.title, a.status, a.sort,a.url,a.target,a.rel
    from sys_access b,sys_node a,sys_role_user d
    where b.role_id=d.role_id and a.id=b.node_id 
    and a.group_id=#{pId,jdbcType=INTEGER} 
    and d.user_id = #{userId,jdbcType=INTEGER}
    order by a.sort
  </select> 
  <select id="selectForGrant" resultMap="BaseResultMap" >
    select 
    a.id,a.level, a.name, a.title, a.status, a.sort,a.url,a.target,a.rel,b.role_id granted
    from sys_node a left outer join sys_access b 
    on a.id=b.node_id and b.role_id=#{roleId,jdbcType=INTEGER}
    where a.group_id=#{groupId,jdbcType=INTEGER} 
    order by a.sort
  </select> 
       <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" /> 
    from sys_node
  </select>
  <sql id="Base_Column_List" >
    id, name, title, status, remark, sort, pid, level, group_id,url,target,rel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_node
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByGroupId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_node
    where group_id = #{groupId,jdbcType=INTEGER}
  </select>  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_node
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.smartlight.usermanager.model.SysNode" >
    insert into sys_node (id, name, title, 
      status, remark, sort, 
      pid, level, group_id,url,target,rel
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{pid,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, #{rel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.smartlight.usermanager.model.SysNode" >
    insert into sys_node
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="target != null" >
        target,
      </if>
      <if test="rel != null" >
        rel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="rel != null" >
        #{rel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.smartlight.usermanager.model.SysNode" >
    update sys_node
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="rel != null" >
        rel = #{rel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.smartlight.usermanager.model.SysNode" >
    update sys_node
    set name = #{name,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      rel = #{rel,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      group_id = #{groupId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>